html{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.2;
    height:100%;
    margin:0;
    font-size:1em;
}
body{
    margin-bottom:90px;  /*important adding this margin if use "sticky footer" in bootstrap otherwise some content might get covered by footer space */
    background-image:url("../images/polka-dots.png");
    min-height:100%;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:2.5em;
    color:orange;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size:1.8em ;
    color:orange;
}
img{
    max-width: 200px;
    float:left;
    padding-right:1em;
}
.footer{
    clear: both;
    height:80px;
    background-color: dimgrey;
    border-top: 8px solid orange;
    padding-top: 30px;
    text-align:center;
    font-size: 1em;
}
  
form{
    margin: 10px;
}

.form_format{
   margin: 3px;
   padding-left:10px;
}
input{
    height:30px;
    margin:10px;
    width:100%;
    font-size:1.1em;
}
textarea{
    margin:10px;
    width:100%;
    height: 100px;
    font-size:1.1em;

}

.SubmitBtn{
    background-color: orange;
    color:white;
    border-radius: 0.5em;
    font-size: 1.2em;
    width:30%;
    height: 2.5em;
    clear:both;
    padding: 0.5em;
}
.SubmitBtn:hover{
    background-color: rgb(224, 121, 80);
}

.halfHalf{
    width:97%;
    height: auto;
    margin: 1.3em 1em;
    padding: 1em;
    padding-bottom: 8%;
    margin-bottom: 8%;
    float:left;
    background-color:white;
    box-shadow: 2px 3px 2px grey;
}

.halfHalf img{
    max-width: 60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:12%;
}
.halfHalf img:hover{
    margin-top:10%;
    outline: 5px dotted orange;
    outline-offset: -2px;
}

.halfHalf span{
    background-color: orange;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    padding: 5%;
    margin: 4%;
    text-align: center;
}

/* adjust bootstrap elements to mimic the assignment format*/

.nav-link{
    color: orange !important;
    font-size: 1.2em;
}
.navbar-brand{
    background-color: orange ;
    color: white !important;
    font-size: 2.4em;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.3em 0.5em;
    margin-bottom:-10px;
    margin-left:10px;
    border-top:2px solid rgb(252, 186, 63);
    border-left:2px solid rgb(248, 197, 101);
    border-right:2px solid rgba(36, 36, 36, 0.76);
    border-bottom:2px solid rgba(36, 36, 36, 0.76);
    border-top-left-radius:1.2em;
    box-shadow: 4px 2px 4px rgb(48, 48, 48);
    text-align: center;
}
.navbar{
    background-color: rgb(80, 80, 80) !important;
}
.navbar-toggler-icon{
    background-color: orange;
    width:2em;
    height:2em;
}
.navbar-toggler{
    background-color: orange !important;
}
.row{
    padding:1em;
    margin-top: 8em;
    background-color:rgba(211, 211, 211, 0.85)
}
.col-lg-6{
    float:left;
}

@media (min-width: 400px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }
    .navbar-nav > li.nav-item {
      float: right !important;
    }
}
@media (min-width:992px){

    .navbar-nav, .navbar-nav > li, .navbar-nav > li.nav-item, li.nav-item > a.nav-link{
    float:right !important;
    display: block;
    position: relative;
    margin-right:3%;

    }
}

/* adjust bootstrap elements to mimic the assignment format*/


